DB_USUARIO="root"
DB_CONTRASENA="password123"
# Data Source Name
# Windows
# DB_DSN="mysql:host=localhost;dbname=libros;charset=utf8"
DB_DSN="mysql:host=localhost;dbname=empresa;charset=utf8"

# FreeBSD
# DB_DSN="mysql:unix_socket=/var/run/mysql/mysql.sock;dbname=libros;charset=utf8"
# DB_DSN="mysql:unix_socket=/var/run/mysql/mysql.sock;dbname=empresa;charset=utf8"


# OpenSSL
# openssl rand -base64 32
# openssl rand -base64 64
# {
#  echo "SECRET_KEY_1=\"$(openssl rand 32 | base64 -w 0)\""
#  echo "SECRET_KEY_2=\"$(openssl rand 64 | base64 -w 0)\""
#  echo "SECRET_KEY_3=\"$(openssl rand 32 | base64 -w 0)\""
# } > keys.txt
# cat keys.txt
SECRET_KEY_1=rKlRSc7yejxUK2qNSn5qIzP+JyHxS/Nybh1l65yzwRk=
SECRET_KEY_2=+jt4umoG04x7FXsgEYKZN0pj8P1z4kQoZ88J9gDxV+L0uiDCGDUgNrmAzEohm7Mx86HxQCQBWz5n+aq3SykQbw==
SECRET_KEY_3=AAQadjSBqHxWK5L9gwzINOT7DDW3IS2e5K9VmFiaB+I=

