DB_USUARIO="libros_user"
DB_CONTRASENA="password123"

# Data Source Name
# Windows
DB_DSN="mysql:host=localhost;dbname=libros;charset=utf8"
# FreeBSD
# DB_DSN="mysql:unix_socket=/var/run/mysql/mysql.sock;dbname=libros;charset=utf8"
