# normalization
* text=auto eol=lf

# web
*.js text eol=lf
*.ts text eol=lf
*.css text eol=lf
*.html text eol=lf
## backend
*.php text eol=lf

# config files
*.json text eol=lf

# markdown
*.md text eol=lf

# shell
## windows
*.bat text eol=crlf
*.cmd text eol=crlf
## unix
*.sh text eol=lf
## make
Makefile text eol=lf
makefile text eol=lf


# binary
## image
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
## compress
*.zip binary
*.7z binary
*.gz binary
*.tar binary
## video / audio
*.mp4 binary
*.mp3 binary
*.pdf binary


# commands
# git config --global core.autocrlf false
## Fix
# git add --renormalize .
# git commit -m "add .gitattributes normalizer"
