* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    height: 100vh;

    background-color: #e8f5e9;
    font-family: Arial, sans-serif;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 24rem;

    background-color: #ffffff;

    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: 0.625rem;

}

form label:first-child {
    font-weight: bold;
    display: block;

    margin-top: 0;
    margin-bottom: 1.25rem;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

form label {
    display: block;

    margin-top: 0.75rem;
    margin-bottom: 0.3125rem;
    margin-left: 0;
    margin-right: 0;
}

form input {
    width: 100%;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    border: 0.0625rem solid #ccc;
    border-radius: 0.3125rem;
}

form button {
    width: 100%;

    margin-top: 1.125rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 0;
    padding-right: 0;

    border: none;
    border-radius: 0.3125rem;

    background-color: #66bb6a;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background-color: #57a05a;
}
